html {
  height: 100%;
}
body {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  background-color: firebrick;
}

.app-body {
  height: -webkit-fill-available;
  display: flex;
}

h4 {
 text-decoration: underline;
}