html {
  height: 100%;
}
body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: firebrick;
  min-height: 100%;
}

.app-body {
  display: flex;
}

h4 {
 text-decoration: underline;
}