html {
  height: 100%;
}
body {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  position: relative;
}

.app-body {
  background-color: firebrick;
  display: flex;
  height: 100%;
  /* can't put in padding because button breaks*/
}

h4 {
 text-decoration: underline;
}