.display-card {
  position: relative;
  margin: 30px auto 30px auto;
  padding: 20px;
  width: 40%;
  min-width: 300px;
  border-radius: 5px;
  background-color: rgb(255, 255, 206);
  border: 1px solid white;
  box-shadow: 5px 5px 10px darkred;
}

.display-card:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}