.login-link {
  display:block;
  background: red;
  margin: 10px auto !important;
  padding: 10px;
  width: 80px;
  text-decoration: none;
  color: white;
  }
  
  .login-link:hover {
    background: rgb(172, 1, 1);
  }
  
  .login-link:active {
    background: rgb(119, 1, 1);
  }