.results-card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-card {
  background-color: rgb(255, 255, 206);
  min-width: 100px;
  margin: 20px;
  padding: 10px 40px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 5px 5px 10px darkred;
}